<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="~/LibraryManagement.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="container">
		<div class="row">
			<header class="d-flex justify-content-between align-items-center">
				<a class="nav-link" asp-controller="Home" asp-action="Index">
					<img src="~/images/logo.jpg" alt="Logo" width="120" />
				</a>
				<div class="search-box" style="width: 50%">
					<form method="get" asp-action="Search">
						<div class="input-group">
							<input type="text" name="search" placeholder="Search books..." class="form-control" />
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
					</form>
				</div>
			</header>
		</div>
	</div>

	<main role="main" class="pb-3">
		<div class="container">
			<div class="row">
				<div class="sidebar">
					
				</div>

				<div class="content">
					@RenderBody()
				</div>
			</div>
		</div>
	</main>

	<footer class="py-4 bg-light">
		<div class="container">
			<div class="row">
			</div>
			<hr>
			<p class="text-center mb-0">&copy; 2024 - Library Management System - All rights reserved</p>
		</div>
	</footer>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
