USE [master]
GO
/****** Object:  Database [CSE443]    Script Date: 29/10/2024 8:21:08 SA ******/
CREATE DATABASE [CSE443]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSE443', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CSE443.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSE443_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CSE443_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSE443].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSE443]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 29/10/2024 8:21:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] NOT NULL,
	[NameBook] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Book] ([Id], [NameBook], [Author]) VALUES (1, N'.Net Programming', N'Microsoft')
INSERT [dbo].[Book] ([Id], [NameBook], [Author]) VALUES (2, N'The Pragmatic Programmer', N'Andrew Hunt')
INSERT [dbo].[Book] ([Id], [NameBook], [Author]) VALUES (3, N'Design Patterns', N'Erich Gamma')
GO
USE [master]
GO
