/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a[b-zogy9lo6il] {
    color: #0077cc;
}

.footer[b-zogy9lo6il] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    margin-bottom: 0;
}

.nav-pills .nav-item .nav-link[b-zogy9lo6il] {
    font-size: 16px;
    font-weight: 500;
}

.search-box[b-zogy9lo6il] {
    max-width: 400px;
    flex-grow: 1;
}

.user-actions .btn[b-zogy9lo6il] {
    padding: 6px 12px;
    font-size: 12px;
}
